<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Rakit Computer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
  <style>
        
    body {
        box-sizing: border-box;
    }

    .d-flex input {
        margin: .9em 0em;
    }

    .d-flex button {
        margin: 1.5em .6em;
        padding: .3em 2.4em;
    }

    .d-flex table {
        margin: 1em 10em;
    }

    table .btnedit {
        color: lightgreen;
        cursor: pointer;
    }

    table .btndelete {
        color: tomato;
        cursor: pointer;
    }

    /* messages */
    .updatemsg,
    .deletemsg,
    .insertmsg {
        position: absolute;
        top: -40px;
    }

    .container h1 {
        padding: 50px;
        background-color: rgb(66,108,151);
        color:rgb(246,243,241);
    }

    .movedown {
        animation: slideup 3.4s ease;
    }

    @keyframes slideup {
        50% {
            top: 0
        }

        100% {
            top: -40px;
        }
    }
  </style>
</head>

<body>
  <main>
    <div class="container text-center">
      <h1>
        <i class="fas fa-plug"></i> Rakit Computer
      </h1>
      <div class="d-flex justify-content-center">
        <form class="w-50" method="POST" action="/computers/">
          <input type="text" id="userid" class="form-control" autocomplete="off" readonly placeholder="<%= "Order " + (data.length + 1) %>" />
          <select name="operating_system" id="operating_system" class="form-control m-0" autocomplete="off" placeholder="OS" >
            <option value="">OS</option>
            <option value="Windows 8">Windows 8</option>
            <option value="Windows 10">Windows 10</option>
            <option value="Ubuntu">Ubuntu</option>
            <option value="MS DOS">MS DOS</option>
          </select>
          <br />
          <div class="row">
            <div class="col">
              <select name="peripheral_devices" id="peripheral_devices" class="form-control m-0" autocomplete="off" placeholder="Peripheral Devices" >
                <option value="">Peripheral Devices</option>
                <option value="No Peripheral">No Peripheral Devices</option>
                <option value="Mouse & Keyboard">Mouse & Keyboard</option>
                <option value="Mouse, Keyboard & Monitor">Mouse, Keyboard & Monitor</option>
                <option value="Monitor Only">Monitor Only</option>
              </select>
            </div>
            <div class="col">
              <select name="case_size" id="case_size" class="form-control m-0" autocomplete="off" >
                <option value="">Case Size</option>
                <option value="Small">Small</option>
                <option value="Casual">Casual</option>
                <option value="Heavy">Heavy</option>
              </select>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-success" id="btn-create">Add Order</button>
          </div>
        </form>
      </div>
      

      <!--  Table -->
      <div class="d-flex table-data">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Operating System</th>
              <th scope="col">Peripheral Devices</th>
              <th scope="col">Case Size</th>
              <th scope="col">Parts</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <% data.forEach((el) => { %>
              <tr>
                <td><%= el.id %></td>
                <td><%= el.operating_system %></td>
                <td><%= el.peripheral_devices %></td>
                <td><%= el.case_size %></td>
                <td><%= null %></td>
              </tr>
            <%})%>
          </tbody>
        </table>
      </div>
      <div id="notfound"></div>
    </div>
  </main>

  <!-- Labels -->
  <div class="w-100 btn btn-success insertmsg">Data Inserted Successfully...!</div>
  <div class="w-100 btn btn-warning updatemsg">Data Updated..! Refresh Database To See Result</div>
  <div class="w-100 btn btn-danger deletemsg">Data Deleted..!</div>

</body>

</html>